<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.malattas.ziadorlina">

    <application>
        <activity android:name=".ZiadorLinaActivity">
        </activity>

        <provider
                android:name=".uri.GenericFileProvider"
                android:authorities="${applicationId}.uri"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>